extends layout 

block content 
  h1 #{title} Class Items

  ul 
    each item in item_list 
      li 
        a(href=`/catalog/item/${item._id}`)= item.name

    else 
      li There are no #{title} class items