extends layout

block content
  h1= title
  p Welcome to #[em title], currently just an inventory of all the items in Backpack Battle, but eventually a way to modify, test, and share your backpacks.


