extends layout 

block content 
  h1= title 

  form(method='POST' action='')
    .form-group 
      label(for='type_name') Type:
      input#type_name.form-control(type='text' placeholder='Create a type that does not exist' name='type_name' value=(undefined===type ? '' : type.name))
    button.btn.btn-primary(type='submit') Submit 

  if errors 
    div.mt-2
      ul
        for error in errors 
          li!= error.msg