body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
 margin-bottom: 6px; 
}

.form-group{
  margin-top: 15px;
}

.mt-15{
  margin-top: 15px;
}